<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="application.properties" />
	</bean>
 	
	<bean name="UtilApp" class="yes.share.library.util.UtilApp" init-method="init">	
		<property name="defaultPages">
			<map>
				<entry key="main" value="welcome"/>
			</map>
		</property>
	</bean>

	<bean name="mainPage" class="java.lang.String">
	    <!-- <constructor-arg type="java.lang.String" value="welcome" /> -->
	    <constructor-arg type="java.lang.String" value="" />
	</bean>
	
</beans>